<!-- py: Add padding top & bottom; mt-auto: go all the way to bottom -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2022</span>
    </div>
</footer>