<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">
                <%= err.message %>
            </h4>
            <!-- To test this, require 'dotenv' in app.js by default and run:
                NODE_ENV=production node app.js -->
            <% if (process.env.NODE_ENV !=='production' ) { %>
                <p><%= err.stack %></p>
            <% } %>
        </div>
    </div>
</div>